<section class="about">
    <div class="container">
        <div class="about__inner">
            <div class="about__info">
                <h2 class="about__title">
                    Що таке OkParking?
                </h2>
                <div class="about__text">
                    <span>
                        OkParking – зручний телеграм-бот, який допоможе запаркувати ваше авто на приватних майданчиках
                        Києва. 
                    </span>
                    <br><br>
                    Це перше подібне рішення в Україні, яке відкриває перед водіями шлагбауми приватних парковок.
                    <br><br>
                    Власники приватних паркомісць можуть короткостроково здавати їх в оренду іншим водіям: у
                    той момент, коли ви виїжджаєте, ваше паркомісце заробляє вам гроші.
                    <br><br>
                    <span>
                        Унікальний телеграм-бот OkParking допомогає вирішувати проблему нестачі паркомісць у Києві.
                    </span>
                </div>
            </div>
            <div class="about__qr">
                <h2 class="about__qr-title">
                    Переходь у ЧАТ-БОТ<br>
                    для оренди паркомісця <br>
                    або якщо бажаєш здати <br>
                    своє паркомісце в оренду
                </h2>
                <div class="about__qr-img-info">
                    <div class="about__qr-img-outer">
                        <img src="img/qr.png" alt="img">
                    </div>
                    <div class="about__qr-info">
                        <div class="about__qr-suplink">
                            Скануй QR-код
                        </div>
                        <a target="_blank" class="about__qr-link" href='https://t.me/OkParkingBot'>або тицяй СЮДИ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>