<section class="banner">
    <div class="container">
        <div class="banner__inner">
            <div class="banner__img-outer">
                <img src="img/banner-img.png" alt="img">
            </div>
            <div class="banner__info">
                <h1 class="banner__title">
                    Відкриває <br>
                    <span>приватні паркінги</span> <br>
                    для тебе
                </h1>
                <div class="banner__subtitle">
                    <span class="banner__subtitle-first">
                        Приєднуйся до чат-боту <span class='banner__subtitle-second'>OkParking</span>
                    </span><br>
                    Знаходь найближче вільне місце для паркінгу або здавай в оренду своє паркомісце
                </div>
                <a target="_blank" class="banner__link"  href='https://t.me/OkParkingBot'>
                    <img src="img/tg.png" alt="img">
                    Приєднатись
                </a>
            </div>
            
            <img class='banner__gradient' src="img/banner-gradient.png" alt="img">
        </div>
    </div>
</section>