<section class="card">
    <div class="container">
        <div class="card__inner">
            <div class="card__item">
                <h4 class="card__title">
                    Відповіді на питання
                </h4>
                <div class="card__text-link">
                    <div class="card__text">
                        OkParking – це зручний телеграм-бот, який допомагає вирішувати проблему
                        нестачі паркомісць у Києві і пропонує дві унікальні послуги:<br><br>
                        - ВОДІЯМ чат-бот OkParking допоможе знайти місце та запаркувати їхні авто на приватних паркінгах
                        столиці. Це перше подібне рішення в Україні, яке «відкриває» перед усіма водіями шлагбауми
                        приватних автопарковок.<br>
                        - ВЛАСНИКАМ паркомісць OkParking допоможе здати в оренду на певний термін свій вільний
                        паркувальний простір іншим водіям. Тобто, коли власник виїжджає і тимчасово звільняє своє
                        паркомісце, воно заробляє гроші.<br><br>
                        Якщо коротко, OkParking – це такий собі Airbnb, але у сфері паркування 😉.

                    </div>
                    <a class="card__link" href="article-one.html" target='_blank'>Далі</a>
                </div>
            </div>
            <div class="card__item">
                <h4 class="card__title">
                    Як здати паркомісце?
                </h4>
                <div class="card__text-link">
                    <div class="card__text">
                        Хочете здати своє паркомісце в оренду через чат-бот OkParking? Це дуже просто!
                        <br><br>
                        Для початку зареєструйтеся у чат-боті OkParking у кілька простих кроків: <br><br>
                        1. Відкрийте телеграм-бот та натисніть «Почати» або напишіть «/start» <br><br>
                        2. Далі введіть ваші дані: ім’я та номер телефону (або ж наш чат-бот самостійно підтягне ваш
                        контакт з телеграму)<br><br>
                        Вітаємо! Ви стали користувачем OkParkingBot! Перед початком користування, будь ласка,
                        ознайомтеся з важливою інформацією: Угодою користувача та Політикою конфіденційності.

                    </div>
                    <a class="card__link" href="article-two.html" target='_blank'>Далі</a>
                </div>
            </div>
            <div class="card__item">
                <h4 class="card__title">
                    Як орендувати паркомісце?
                </h4>
                <div class="card__text-link">
                    <div class="card__text">
                        Хочете орендувати паркомісце через чат-бот OkParking? Це дуже просто!<br><br>
                        Для початку зареєструйтеся у чат-боті OkParking у кілька простих кроків:<br><br>
                        1. Відкрийте телеграм-бот та натисніть “start”
                        <br>
                        2. Далі введіть ваші дані: ім’я та номер телефону (або ж наш чат-бот самостійно підтягне ваш
                        контакт з телеграму)
                        <br>
                        Вітаємо! Ви стали користувачем OkParkingBot! Перед початком користування, будь ласка,
                        ознайомтеся з важливою інформацією: Угодою користувача та Політикою конфіденційності.

                    </div>
                    <a class="card__link" href="article-thr.html" target='_blank'>Далі</a>
                </div>
            </div>
        </div>
    </div>
</section>