<header class="header">
  <div class="container">
    <div class="header__inner">
        <a class="header__logo-outer" href='index.html'>
          <img src="img/logo.png" alt="img">
        </a>
      <div class="header__button-outer">
        <a target="_blank" class="header__button green" href='https://t.me/OkParkingBot'>
          <img src="img/hbg.png" alt="img">
          Здати паркомісце
        </a>
        <a target="_blank" class="header__button blue" href='https://t.me/OkParkingBot'>
          <img src="img/hbb.png" alt="img">
          Орендувати паркомісце
        </a>
      </div>
    </div>
  </div>
</header>
