<section class="video">
    <div class="container">
        <div class="video__inner">
            <h3 class="video__title">Чому OkParking корисний для всiх?</h3>
            <video src="video-thr.mp4" preload='auto' controls></video>
        </div>
    </div>
</section>
<div class="subvideo header__button-outer">
    <a target="_blank" class="header__button green" href='https://t.me/OkParkingBot'>
      <img src="img/hbg.png" alt="img">
      Здати паркомісце
    </a>
    <a target="_blank" class="header__button blue" href='https://t.me/OkParkingBot'>
      <img src="img/hbb.png" alt="img">
      Орендувати паркомісце
    </a>
</div>